* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }


  body {

  }
header {
  margin-bottom: 1rem;
  display: grid;
grid-template-columns: 100px 1fr;
grid-template-rows: 50px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 1em;
  font-size: 2rem;
  background-color: aquamarine;
  height: 100%;
}

  .desktop-nav li a {

    text-decoration: none;
    color: white;
    font-weight: 700;

  }

  .desktop-nav li:hover {
    background-color: greenyellow;
    transition: 1s;
  }

  .mobile-nav li {
    display: block;
  }
  

  @media screen and (min-width: 481px) {
    .mobile-nav {
      display: none;
    }
  }

  @media screen and (max-width: 481px) {
    .mobile-nav {
      display: flex;
      flex-direction: column;
    }

    .desktop-nav {
      display: flex;
    }
  }