* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

nav ul {
  display: flex;
  list-style: none;
}

  .desktop-nav li {

    align-self: center;
    text-decoration: none;

  }

  header {
    width: 100%;
    max-height: auto;
    display: flex;
    margin-bottom: 10%;
    background-color: lightblue
  }

  .mobile-nav li {
    display: block;
  }
  

  @media screen and (min-width: 481px) {
    .mobile-nav {
      display: none;
    }
  }

  @media screen and (max-width: 481px) {
    .mobile-nav {
      display: block;
    }

    .desktop-nav {
      display: none;
    }
  }